{% extends 'base.html' %}

{% block title %}
Daily Wordle - WordleRoyale
{% endblock %}
{% block links %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='daily_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='letterboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='keyboard.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_backspace" />
{% endblock %}
{% block content %}

    <div class="game">

        {%  include 'letterboard.html' %}

        <div id="keyboard-container" class="keyboard-container">
        </div>
        <div style="display: none;">
            <div id="wonBoard" class="game-done-board">
                <div class="gdb-btn-div">
                    <button name="seeResultsBtn">See Results</button>
                </div>
            </div>
            <div id="lostBoard" class="game-done-board">
                <div class="solution-div">The word was: <span name="solution">-</span></div>
                <div class="gdb-btn-div">
                    <button name="seeResultsBtn">See Results</button>
                </div>
            </div>
            <div id="keyboard" class="keyboard-container">
                {%  include 'keyboard.html' %}
            </div>
        </div>

        <div id="resultsScreen" class="results-screen">
            <div class="header"><h2>Results</h2></div>
            <div class="information">
                <div>The word was: <span name="solution">-</span></div>
                <div>Guesses: <span name="stage">-</span> </div>
                {% if current_user.is_authenticated %}
                    <div>Streak: <span name="streak">-</span></div>
                {% else %}
                    <div>Login to save your streak</div>
                    <button name="loginBtn">Login</button>
                    <button name="registerBtn">Register</button>
                {% endif %}
            </div>
            <button id="closeResultsBtn">Close</button>
        </div>
    </div>


<script>
    const userAuth = {{ current_user.is_authenticated | tojson }};
    const initialData = {{ initial_data | tojson }};

    const normalizedData = {
        ...initialData,
        letters: initialData.letters.map(row =>
            row.map(cell => ({
            ...cell,
            status: typeof cell.status === "string"
                ? Number(cell.status)
                : cell.status
            }))
        )
    };
    const resultsScreen = document.getElementById('resultsScreen');
    let letters;
    let status;
    let stage;
    updateStage(normalizedData.stage); //IMPORTANT: update stage before letters
    updateLetters(normalizedData.letters);
    updateStatus(normalizedData.status);


    document.addEventListener('DOMContentLoaded', () => { renderTiles(); renderKeyboard(); });

    function updateLetters(newLetters){
        letters = newLetters;
        if(stage > 0) {
            for (let i = 0; i < 5; i++) {
                let letter = letters[stage - 1][i];
                switch (letter.status) {
                    case 0:
                        knownIncorrectLetters.add(letter.letter);
                        break;
                    case 1:
                        knownMisplacedLetters.add(letter.letter);
                        break;
                    case 2:
                        knownCorrectLetters.add(letter.letter);
                        break;
                }
            }
        }
        renderTiles();
        renderKeyboard();
    }

    function updateStatus(newStatus) {
        const keyboardContainer = document.getElementById('keyboard-container');
        const wonBoard = document.getElementById('wonBoard');
        const lostBoard = document.getElementById('lostBoard');
        const keyboard = document.getElementById('keyboard');
        let clone;
        if (newStatus !== 'running') {
            document.removeEventListener("keydown", handleKeydown);

            if (newStatus === 'won') {
                clone = wonBoard.cloneNode(true);
            } else {
                clone = lostBoard.cloneNode(true);
            }
            retrieveSolution();
            toggleResultsScreen();
        }
        else {
            document.addEventListener("keydown", handleKeydown);
            clone = keyboard.cloneNode(true)
        }
        keyboardContainer.replaceChildren(clone);
        registerResultsButtonsListener();
        status = newStatus;
    }

    function updateStage(newStage) {
        stage = newStage;
    }




    async function send(){
        if(letters[stage].length !== 5 || letters[stage].at(4).letter === '' ){
            return;
        }
        try {
            const wordIsValid = await fetch("{{ url_for('valid_word') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(letters[stage])
            })

            const cancelText = await wordIsValid.text()
            if(cancelText === 'False'){
                const rows = document.querySelectorAll('.row');
                rows[stage].classList.add("shake");

                setTimeout(() => {
                    rows[stage].classList.remove("shake");
                }, 500)
                return;
            }

            const response = await fetch("{{ url_for('solve_daily') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({stage: stage, letters: letters })
            })
            const data = await response.json();
            updateStage(data['stage']); //IMPORTANT: update stage before letters
            updateLetters(data['letters']);
            updateStatus(data['status']);

        }catch (e) {
            console.error(e);
        }
        renderTiles()
    }

    function toggleResultsScreen(){
        resultsScreen.classList.toggle("visible");
        if( userAuth ){
            updateStreakCount()
        }
        updateResultsStage()
    }
    function updateResultsStage() {
        const stageSpans = document.getElementsByName('stage');
        stageSpans.forEach((span) => {
                span.textContent = stage;
        })
    }

    function registerResultsButtonsListener() {
        const seeResultsButtons = document.getElementsByName('seeResultsBtn');
        const closeResultsButton = document.getElementById('closeResultsBtn')
        seeResultsButtons.forEach((btn) => {
            btn.addEventListener('click', () => {
                toggleResultsScreen();
            });
        });
        closeResultsButton.addEventListener('click',toggleResultsScreen)
    }

    async function retrieveSolution() {
        try {
            const response = await fetch("{{ url_for('get_daily_solution') }}");
            const solution = await response.text();
            const solutionSpans = document.getElementsByName('solution');
            solutionSpans.forEach((solutionSpan) => {
                solutionSpan.textContent = solution;
            })
        }catch (e) {
            console.error(e);
        }
    }
</script>

{% endblock %}