<div class="keyboard">
    <div class="button-row">
        <button data-char="Q">Q</button>
        <button data-char="W">W</button>
        <button data-char="E">E</button>
        <button data-char="R">R</button>
        <button data-char="T">T</button>
        <button data-char="Z">Z</button>
        <button data-char="U">U</button>
        <button data-char="I">I</button>
        <button data-char="O">O</button>
        <button data-char="P">P</button>
    </div>
    <div class="button-row">
        <button data-char="A">A</button>
        <button data-char="S">S</button>
        <button data-char="D">D</button>
        <button data-char="F">F</button>
        <button data-char="G">G</button>
        <button data-char="H">H</button>
        <button data-char="J">J</button>
        <button data-char="K">K</button>
        <button data-char="L">L</button>
    </div>
    <div class="button-row">
        <button data-char="ENTER" class="enter-backspace">ENTER</button>
        <button data-char="Y">Y</button>
        <button data-char="X">X</button>
        <button data-char="C">C</button>
        <button data-char="V">V</button>
        <button data-char="B">B</button>
        <button data-char="N">N</button>
        <button data-char="M">M</button>
        <button data-char="BACKSPACE" class="enter-backspace"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 100 60"><polyline points="40,10 10,30 40,50" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/><line x1="10" y1="30" x2="90" y2="30" stroke="currentColor" stroke-width="6" stroke-linecap="round"/></svg></button>
    </div>
</div>

<script>
    const knownCorrectLetters = new Set();
    const knownIncorrectLetters = new Set();
    const knownMisplacedLetters = new Set();

    function renderKeyboard() {
        const buttons = document.querySelectorAll("button[data-char]");
        buttons.forEach(button => {
            button.classList.remove("incorrect")
            button.classList.remove("misplaced")
            button.classList.remove("correct")
            if(knownIncorrectLetters.has(button.dataset.char)){
                button.classList.add("incorrect")
            }
            if(knownMisplacedLetters.has(button.dataset.char)){
                button.classList.add("misplaced")
            }
            if(knownCorrectLetters.has(button.dataset.char)){
                button.classList.add("correct")
            }
        })
    }

    function addLetter(letter){
        addLetterToLetters(letter)
        renderTiles();
    }
    function removeLetter(){
        removeLastLetterFromLetters()
        renderTiles();
    }

    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll("button[data-char]");

        buttons.forEach(button => {
            button.addEventListener("click", () => {
            const char = button.dataset.char; // get value from data-char
                if(char.length > 1){
                    handleSpecialKeys(char);
                    return;
                }
                handleKeyPress(char);
            });
        });
    });

    function handleKeydown(event){
        if(event.ctrlKey){
            return
        }

        const key = event.key.toUpperCase()
        if(key.length === 1) {
            const asChar = key.charAt(0);
            if (key >= 'A' && key <= 'Z') {
                handleKeyPress(key)
            }
        }
        else{
            if(key === 'BACKSPACE' || key === 'ENTER'){
                handleSpecialKeys(key)
            }
        }
    }

    document.addEventListener("keydown", handleKeydown)

    function handleKeyPress(char) {
        addLetter(char);
    }

    function handleSpecialKeys(key){
        switch (key) {
            case 'BACKSPACE':
                removeLetter()
                break;
            case 'ENTER':
                send()
                break;
            default:
                break;
        }
    }

    function addLetterToLetters(letter) {
        if (!letters || stage === undefined) return;
        for (let i = 0; i < letters[stage].length; i++) {
            if (letters[stage][i].letter === "") {
                letters[stage][i].letter = letter;
                break;
            }
        }
    }
    function removeLastLetterFromLetters() {
        if (!letters || stage === undefined) return;
        for (let i = letters[stage].length - 1; i >= 0; i--) {
            if (letters[stage][i].letter !== "") {
                letters[stage][i].letter = "";
                break;
            }
        }
    }


</script>