body {
    background-color: var(--bg-color);
}

.game{
    display: flex;
    flex-direction: column;
    gap: 3rem;

  .board-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
      padding: 1rem;

    .board{
      display: flex;
      flex-direction: column;
      gap: 5px;

    }
  }
    .keyboard-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .game-done-board{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .solution-div{
            display: flex;
            justify-content: center;
            font-size: 20px;
            span{
                margin-left: 2px;
            }
        }
        .gdb-btn-div {
           display: flex;
            flex-direction: row;
            gap: 10px;

            button{
                width: 200px;
                height: 30px;
            }
        }
    }
}

.results-screen {
    visibility: hidden;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: space-between;
    h2{
        margin-top: -2px;
    }

    .information{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.incorrect {
    background-color: #454545 !important;
}
.misplaced {
    background-color: #b3b309 !important;
}
.correct {
    background-color: #016801 !important;
}

.shake {
    animation: shake 0.5s ease-in-out;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-0px);
    }
    100% {
        transform: translateX(0px);
    }
}


