body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    flex: 1 0;
}
.side-by-side{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
        border-right: 4px solid white;
    }
}
