.keyboard{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .button-row{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;

        button{
            font-size: 1.25rem;
            font-weight: bold;
            width: 2.5rem;
            height: 3.5rem;
            background-color: lightgray;
            border: none;
            border-radius: 2px;
        }
        .enter-backspace{
            flex-grow: 1;
            font-size: 1rem;
        }
    }
}