.row{
    display: flex;
    flex-direction: row;
    gap: 5px;

    .tile{
        display: flex;
        flex-wrap: wrap;
        width: 4rem;
        height: 4rem;
        border: 2px solid #3A3A3C;
        align-content: center;
        justify-content: center;
        font-size: 1.5rem;

        &.absent{
            background-color: #9f9f9f;
        }
        &.wrong-position{
            background-color: #e8cb64;
        }
        &.correct{
            background-color: #3ac824;
        }
    }
}